

*{
    font-family:"Parkinsans", sans-serif;
    
}
main, head{
  
  background-color: rgb(246,248,255);
  width: 80vw;
  margin: 0px auto;
  
}

.nav{
   display: flex;
   justify-content: space-between;
   font-size: 1em;
   align-items: center;
   
}
.image{
    width:100%;
 
 }

.nav_left{
    width:20%;
}
.nav_right{
    width:60%;
    
}

.nav_right ul{
    display: grid;
    gap:1em;
    padding: 0px;
    grid-template-columns: repeat(2,1fr) repeat(2,1.2fr);
    text-align: center;
    align-items: center;
    
}
.nav_right ul li {
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    
 } 
 
.nav_right ul li a{
   text-decoration: none;
   font-weight: 300;
   color: black;
   justify-content: center;
} 
.bol{
   display: flex;
   text-align: center;
   align-items: center;
}
.p1{
    font-weight: 900;
}
.box{
    margin-top: 8vh;
    height: 70vh;
    background-color: #f8f9fc; 
    background-image: 
        linear-gradient(to right, rgba(255, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 10px 10px;
    display: flex;
    padding-right: 0px;
}
.image3{
    width:40%;
    justify-content: end;
    align-items: end;
    display: flex;
    flex-wrap: nowrap; 
}
.boro{
    font-size: 4em;
    font-weight: bolder;
}
.boro1{
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
}
.sp{
    color: #E95A08;
}
.choto{
    font-weight: 400;
    color: gray;
}
.choto1{
    width:65vw;
    font-weight: 400;
    justify-content: center;
    color: gray;
}
.lekha{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 60%;
    text-align:start;
    align-items: end;
    padding-left: 2%;
    padding-bottom: 2%;
}
.lekha1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    
}
.cb{
    align-items: end;
}
.img3{
    width: 100%;
    height: 50%;
}
.plants{
    margin-top: 8vh;
}
.chobi{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.ekta{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nam{
    font-size: 1.2rem;
}
.tit{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.btn{
    background-color:  #E95A08;
    width: 100%;
    height: 2.5rem;
    color: #f8f9fc;

}
.lover{
    margin-top: 8vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2.5rem;
    
}
.list{

    list-style-type: disc;
    
}
.advlekha{
    font-size: 3em;
    font-weight: bold;
   
}
.advlist{
    font-weight:400;
    color: gray;
    padding-left: 2em;
   
}
li{
    margin-bottom: 1.5rem;
}
.marka {
    
    width: 100%;
    background-image: url('./images/flower-store.png');
    background-repeat: no-repeat;
    background-size:100% 100%; 
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: top;
   
  }
.hidechobi{
    width: 15rem;
    height: 15rem;
    margin-top: -4.5rem;
    margin-right: -4.5rem;
}
.imgmarka{
    width: 100%;
}
.latest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vh;
}
.ar1, .ar2, .ar3 {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    text-align: center;
    color: #f8f9fc;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    font-weight: 700;

    flex-direction: column;
}

.ar3 {
    font-size: 1.5em;
}


.ar1::before,
.ar2::before,
.ar3::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1;
    border-radius: 3%;
}


.arin{
    position: relative;
    z-index: 2;
}
.ar1{
    grid-area: ar1;
}
.ar2{
    grid-area: ar2;
}
.ar3{
    grid-area: ar3;
}
.gimg{
    margin-top: 4vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 25vh 25vh;
    gap:1.4em;
    grid-template-areas:
    "ar1 ar3 ar3"
    "ar2 ar3 ar3"
}
.gimg a{
    text-decoration: underline;
   
}























@media screen and (max-width: 600px) {
    .nav_left{
        width:40%;
    }
    .nav_right{
        width:30%;
        
    }
    .hide{
        display: none;
    }
    .nav_right ul{
     
        grid-template-columns: 1fr;
    
        
    }
    .image{
        width:30%;
        height: 30%;
     }
     .box{
        height: auto;
        background-image: none;
        flex-direction: column-reverse;
     }
     .lekha{
        width:100%;
    }
    .boro{
        font-size: 2em;
        text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
    .boro1{
        font-size:1.5em;
    }
    .choto{
        font-size: 1rem;
    }
    .choto1{
        font-size: 0.9em;
    }
    .image3{
        width:100%;
    }
     .img{
        width: 100%;
        height: 100%;
    }
    .chobi{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .hidechobi{
        display: none;
    }
    .lover{
        margin-top: 8vh;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        gap:2.5rem;
        
    }
    .advlekha{
        font-size: 1.5em;
        font-weight: bold;
       
    }
 
    .advlist{
        font-weight:400;
        color: gray;
        padding-left: 2em;
       
    }
    .gimg{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,12em);
        grid-template-areas:
    "ar1" "ar2" "ar3";
    }
    .par2 lar2{
        font-size: 1rem;
        font-weight: 700;
    }

    .ar3 {
        font-size: 1em;
    }
    
  
  }